@import "assets/styles/vars.scss";

.chat {
  max-height: 70vh;
  overflow-y: auto;

  &__message {
    display: flex;
    background-color: $color-1;
    color: $color-6;
  }

  &__nickname {
    font-weight: 700;

    &_me {
      color: $color-5;
    }
  }

  &__text {
    color: $color-6;
  }
}
